body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'M PLUS 1 Code', sans-serif;
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    margin: 0;
    color: white;

    & div {
        padding: 5%;
    }

    & p {
        width: 50%;
        font-size: 20px;
        display: flex;
        justify-content: space-between;

        & span {
            color: white;
        }
    }
}

#thief {
    color: rgba(255, 0, 0, 0.800);
}

#police {
    height: 10%;
    color: rgba(0, 0, 255, 0.800);
}

#total {
    color: rgba(255, 0, 0, 0.800);
}